package pages

import "github.com/MyselfRoshan/goHTMX/templates/layout"

templ NewIndex(title string) {
	@layout.Base(title, nil) {
		<div id="parent">
			<h1>
				This is completly new content
			</h1>
			<input type="text"/>
			<button hx-get="/" hx-target="#parent" hx-trigger="mouseenter">This is our context</button>
		</div>
	}
}
